annotated-types==0.6.0
APScheduler==3.10.4
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
beautifulsoup4==4.12.3
blis==1.3.3
Brotli==1.1.0
bs4==0.0.2
captcha==0.6.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
channels==4.1.0
channels-redis==4.2.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.3
constantly==23.10.4
crispy-bootstrap4==2024.1
cryptography==41.0.3
cssselect2==0.8.0
currencies==2020.12.12
cymem==2.0.13
daphne==4.1.2
defusedxml==0.7.1
Django==5.1.4
django-adminlte3==0.1.6
django-allauth==65.13.1
django-bootstrap4==24.3
django-ckeditor==6.7.1
django-ckeditor-5==0.2.13
django-cors-headers==4.6.0
django-countries==7.6.1
django-crispy-forms==2.3
django-currencies==0.10.1
django-embed-video==1.4.10
django-extensions==3.2.3
django-js-asset==2.2.0
django-mathfilters==1.0.0
django-sendgrid-v5==1.2.3
django-simple-captcha==0.6.0
django-templated-mail==1.1.1
django-tempus-dominus==5.1.2.17
django-user-agents==0.4.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
djoser==2.2.3
filelock==3.12.4
fonttools==4.56.0
fsspec==2023.10.0
googlemaps==4.2.0
gunicorn==23.0.0
html5lib==1.1
hyperlink==21.0.0
idna==3.8
incremental==24.7.2
Jinja2==3.1.2
jsonfield==2.1.1
langcodes==3.3.0
lxml==5.3.1
mpmath==1.3.0
msgpack==1.1.0
networkx==3.2
numpy==2.3.5
oauthlib==3.2.2
oscrypto==1.3.0
packaging==24.2
phonenumbers==8.13.45
pillow==11.1.0
preshed==3.0.12
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycountry==24.6.1
pycparser==2.22
pydantic>=2.41.5
pydantic-core>=2.41.5
pydyf==0.11.0
pyHanko==0.26.0
pyhanko-certvalidator==0.26.7
PyJWT==2.10.1
pyOpenSSL==24.2.1
pypdf==5.3.1
pyphen==0.17.2
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-http-client==3.3.7
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.2
qrcode==8.0
razorpay==1.4.2
redis==5.1.0
regex==2025.11.3
reportlab==4.3.1
requests==2.32.3
requests-oauthlib==2.0.0
sendgrid==6.11.0
sendgrid-django==4.0.4
service-identity==24.1.0
six==1.16.0
smart-open==6.4.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
soupsieve==2.5
spacy>=3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-pkuseg==1.0.1
sqlparse==0.5.3
srsly==2.5.2
stripe==10.5.0
svglib==1.6.0
sympy==1.12
thinc==8.3.10
tinycss2==1.4.0
tinyhtml5==2.0.0
tmdbv3api==1.9.0
torch==2.9.1
tqdm==4.66.1
Twisted==24.7.0
txaio==23.1.1
typer==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ua-parser==0.18.0
uritools==4.0.3
urllib3==2.2.2
user-agents==2.2.0
wasabi==1.1.2
weasel==0.3.3
weasyprint==64.1
webencodings==0.5.1
whitenoise==6.8.2
xhtml2pdf==0.2.17
zh-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_trf-3.8.11/zh_core_web_trf-3.8.11-py3-none-any.whl
zope.interface==7.0.3
zopfli==0.2.3.post1
