{% extends 'admin_base.html' %}

{% block content %}
<div class="site-section">
    <center>
        <h1>List of Clinical devices</h1>
    </center>

    {% if device_list %}
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Seller Name</th>
                <th>Product Image</th>
                <th>Phone</th>
                <th>Price</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for device in device_list %}
            <tr>
                <td>{{ device.product_name }}</td>
                <td>{{ device.seller_name }}</td>
                {% if device.product_image %}
                  <td><img src="{{device.product_image.url}}" alt="Image" style="height: 100px;width: 100px;"></td>
                  {% endif %}
                <td>{{ device.phone }}</td>
                <td>₹{{ device.price }}</td>
                <td>
                    {% if device.is_approved %}
                        <span class="badge bg-success">Approved</span>
                    {% else %}
                        <span class="badge bg-warning">Pending</span>
                    {% endif %}
                </td>
                <td>
                    {% if not device.is_approved %}
                        <a href="{% url 'device_approval' device.id %}" class="btn btn-success btn-sm">Approve</a>
                    {% else %}
                        <a href="{% url 'unapprove_device' device.id %}" class="btn btn-warning btn-sm">Unapprove</a>
                    {% endif %}
                    <a href="{% url 'delete_device' device.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No devices available.</p>
    {% endif %}
</div>
{% endblock %}