{% extends "admin_base.html" %}

{% block content %}
<style>
    h1{
        margin-top: 30px;
    }
</style>
<div class="container">
    <center>
        <h1>List of Nurses</h1>
      </center>

    {% if nurse_list %}
    <table align="center" class="table table-hover" style="width: 80%;">
        <thead>
            <tr class="table-active">
                <th scope="col">Username</th>
                <th scope="col">Image</th>
                <th scope="col">Email</th>
                <th scope="col">License Number</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for nurse in nurse_list %}
            <tr>
                <td>{{ nurse.user.username }}</td>
                {% if nurse.image %}
                <td><img src="{{nurse.image.url}}" alt="Image" style="height: 100px;width: 100px;"></td>
                    {% else %}
               <td><p>no image</p></td> 
                {% endif %}
                <td>{{ nurse.user.email }}</td>
                <td>{{ nurse.license_number }}</td>
                <td>{{ nurse.address }}</td>
                <td>{{ nurse.phone }}</td>
                <td><a href="{% url 'nurse_approval' nurse.user_id %}">approve</a></td>

            
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No nurses available.</p>
    {% endif %}
</div>
{% endblock %}
