{% extends 'nursebase.html' %}
{% block content %}
<style>
    h1{
        margin-top: 30px;
    }
    .table{
        background-color: aliceblue;
        margin-top: 50px;
        margin-bottom: 50px;
    }
</style>
<div class="container">
    <center>
    <h1>Requset list</h1>
  </center>
  {% if nurse_user %}
      <table align="center" class="table table-hover" style="width: 80%;">
        <thead>
          <tr class="table-active">
            <th scope="col">Nurse name</th>
            <th scope="col">User Name</th>
            <th scope="col">Date selected</th>
            <th scope="col">Duration</th>
            <th scope="col">Approve</th>
            
            
          </tr>
        </thead>
        
        <tbody>
          {% for nurse in nurse_user %}
        
          <tr>
        
            <td>{{nurse.nurse}}</td>
            <td>{{nurse.user}}</td>
            
            <td>{{nurse.date}}</td>
            <td>{{nurse.duration}} months</td>
            <td><a href="{% url 'user_approval' nurse.user.id %}">approve</a></td>
            
           </tr>
          
        </tbody>
        
        
      {% endfor %}
      </table>
      {% else %}
        <p>Empty list.</p>
      {% endif %}
    </div>

{% endblock %}
