{% comment %} <!DOCTYPE html> {% endcomment %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="id_user">Booked User:</label>
        {{ form.user }}
        <label for="id_date">Date:</label>
        {{ form.date }}
        <label for="id_details">Details:</label>
        {{ form.details }}
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>


